<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Email</title>
</head>
<body>
    <p th:text="'Hi ' + ${name} + ','"></p>
    <p>Welcome to our blog website 👋</p>
    <p>Hope you gonna have a great time here 🤲🤗</p>
    <p>Also don't forget to upload your avatar so we can get to know each other better 😁</p>
    <button><a href="#">Upload Avatar</a></button>
    <p>If you have any problem, please feel free to contact me through this email. I will try to support you as soon as possible 🙏</p>
    <p>Much love,</p>
    <p>Hieu Tran - Blog Dev</p>
</body>
</html>